.order-container {
    padding: 20px;
  }
  
  .order-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-item {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .order-img {
    margin-right: 20px;
  }
  
  .order-details p {
    margin: 5px 0;
  }
  